@font-face {
    font-family: 'gilroybold';
    src: url('../fonts/radomir_tinkov_-_gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/radomir_tinkov_-_gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* @font-face {
    font-family: 'gilroybold';
    src: url('radomir_tinkov_-_gilroy-bold_2-webfont.woff2') format('woff2'),
         url('radomir_tinkov_-_gilroy-bold_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

@font-face {
    font-family: 'gilroybold_italic';
    src: url('../fonts/radomir_tinkov_-_gilroy-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/radomir_tinkov_-_gilroy-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/radomir_tinkov_-_gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/radomir_tinkov_-_gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroymedium';
    src: url('../fonts/radomir_tinkov_-_gilroy-medium-webfont.woff2') format('woff2'),
         url('../fonts/radomir_tinkov_-_gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/background.jpg') no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    margin-top: -14%;
}

header {
    display: flex;
    justify-content: left;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
}

.logo img {
    width: 100%;
}

.menuMobile {
    position: relative;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 999;
}

.fa-times {
    display: none;
}

.menu {
    background: #0a89b7;
    position: absolute;
    display: none;
    flex-direction: column;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
}

.principalImage {
    width: 100%;
}

.principalImage img {
    width: 100%;
}

.titulosPrincipales {
    display: flex;
    flex-direction: column;

}

.titulosPrincipales .principalTitle {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "gilroybold";
    text-shadow: 1px 1px 1px #1a4c60;
}

.titulosPrincipales .subPrincipalTitle {
    color: #0f2840;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "gilroybold";
    text-shadow: 1px 1px 3px #48b7e2
}

.titulosPrincipales .balance {
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: row;
    width: auto;
    margin: auto;
    margin-top: 10px;
    padding: 4px;
    font-family: "gilroymedium";
}

.titulosPrincipales img { 
    width: 32px;
    height: 14px;
}

.titulosPrincipales .text { 
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    margin-left: 5px;
    font-size: 0.8rem;
    text-shadow: 1px 1px 1px #1a4c60;
}

.flecha {
    margin-top: 10px;   
}

.saber {
    margin-top: 4rem;
}

.tituloBlanco {
    letter-spacing: 4px;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

.textBlanco {
    color: #fff;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-size: 'Open Sans', sans-serif;
}

.videos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.videos .tvideo {
    width: 100%;
    padding: 1rem 3rem;
}

.videos .tvideo .image {
    width: 100%;
    height: 250px;
    background: #000;
}

.videos .tvideo .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videos .tvideo .tinfo {
    background: #5badb2;
    text-transform: uppercase;
    font-family: "ralewaymedium";
    text-align: center;
    line-height: 2.5rem;
    font-size: 0.9rem;
}

.videos .tvideo .ttext {
    background: #fff;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
    font-family: "ralewaylight";
    line-height: 1.2rem;
}

.videosIframe {
    margin: 1rem auto;
}

.articulos .articulo {
    width: 90%;
    max-width: 400px;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 3rem auto;
    
}

.articulos .title {
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.articulos .articulo .image {
    width: 100%;
    height: 200px;
    background: #000;
}
.articulos .articulo .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


footer {
    background: #5eb4bb;
    color: #193031;
    padding: 2rem;
}

.textFooter {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
}


.videoIframe {
    width: 90%;
    margin: auto;
    background: #000;
    margin: 3rem auto;
    height: 200px;
    position: relative;
}

.videoIframe iframe {
    width: 100%;
    height: 100%;
}

.videoIframe video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.articulos a {
    text-decoration: none;
}

@media only screen and (min-width: 900px) {

    body {
        background: url('../images/background.jpg') no-repeat top center local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    header {
        display: flex;
        justify-content: center;
    }

    .logo {
        top: 1%;
        right: 3%;
        width: 100px;
    }

    .menuMobile {
        display: none;
    }

    .container {
        margin-top: -23%;
    }

    .menu {
        width: 100%;
        max-width: 700px;
        margin: auto;
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        background: initial;
        font-weight: bold;
    }
    .menu a {
        font-family: 'Open Sans', sans-serif;
        color: #1a4c60;
        letter-spacing: 3px;
    }

    .titulosPrincipales .principalTitle {
        font-size: 2.5rem;
        /* text-shadow: initial; */
    }

    .titulosPrincipales .subPrincipalTitle {
        font-size: 1.4rem;
        /* text-shadow: initial; */
    }

    .titulosPrincipales .balance {
        margin-top: 15px;
        padding: 8px;
    }
    
    .titulosPrincipales .text { 
        font-size: 1.5rem;
    }

    .titulosPrincipales img { 
        width: initial;
        height: initial;
    }

    .saber {
        margin-top: 16rem;
    }

    .tituloBlanco {
        letter-spacing: 30px;
        font-size: 2rem;
    }

    .textBlanco {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .videos {
        display: flex;
        flex-direction: row;
    }
    
    .videos .tvideo {
        width: 100px;
        flex-grow: 1;
        padding: 1rem;
    }
    
    /* .videos .tvideo .image {
        width: 100%;
        height: 250px;
        background: #000;
    } */

    .videosIframe {
        margin: 10rem auto;
    }

    .videoIframe {
        width: 70%;
        max-width: 600px;
        height: 300px;
    }

    .videoIframe iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 0;
        margin: 0;
    }

    .articulos .articulo {
        margin: 4rem auto;
    }

    .textFooter {
        text-align: center;
        font-size: 0.9rem;
    }

    
}